.grid-container{
    display: grid;
    grid-template-columns: 25% 20% 5% 33% 17%;
    grid-template-rows: 40% 10% 25% 25%;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 40vw;
    background-color: teal;
    transition: 0.5s;
}
#menu{
    display: flex;
    align-items: center;
}
body{
    margin: 0;
}
#notificationList{
    width: 300px;
    z-index: 3;
    opacity: 0.5;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}
.notificationIcon{
    font-size: 25px;
    margin-right: 10px;
}
.success{
    background-color: green;
}
.error{
    background-color: red;
}
.notification{
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-bottom: 5px;
}
.title{
    font-weight: 700;
}
.line{
    width: 90%;
    height: 2px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}
.option{
    align-self: flex-start;
    color: black;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    width: 100%;
    display: flex;
    padding-left: 10px;
    align-items: center;
}
.option:hover{
    background-color: aliceblue;
}
#logo{
    height: 70%;
}
#dropmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    list-style-type: none;
    position: fixed;
    box-shadow: 0 5px 10px gray;
    font-size: 15px;
    color:grey;
    top:75px;
    right:100px;
    width: 200px;
    background-color: white;
    transform: scale(0, 0);
    transition: 0.5s;
}
#icon input:checked ~ div {
    transform: none;
}
.fa-bell{
    margin-right: 25px;
    color: darkgray;
    font-size: 30px;
}
.fa-bell:hover{
    color: gray;
}
#icon input
{
  display: block;
  width: 45px;
  height: 45px;
  position: fixed;
  cursor: pointer;
  border-radius: 90px;
  opacity: 0;
  z-index: 4;
}
#icon{
    color: white;
    font-weight: 300;
    font-size: 30px;
    height: 45px;
    width: 45px;
    display: flex;
    background-color: orange;
    border-radius: 90px;
    align-items: center;
    justify-content: center;
}
header{
    animation: 0.5s ease-out 0s 1 slideInFromUp;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position:fixed;
    background-color: white;
    height: 75px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    top:0px;
    z-index: 3;
    padding-right: 100px;
    padding-left: 100px;
}
.grid-container>div:not(#gridcont){
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.container{
    overflow: hidden;
}
.cover{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 1;
    display: flex;
    transition: 0.5s;
}
.text{
    color:black;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    background-color: white;
    font-size: 20px;
    padding: 10px;
    overflow: auto;
}
#join{
    width: 30%;
    height: 15%;
    border-radius: 5px;
    border: 0px;
    background-color:rgb(15, 177, 232);
    color: white;
    font-size: 20px;
}
#join:hover{
    background-color:rgb(0, 106, 157)
}
body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.fab{
    color:black;
    font-size: 50px;
    margin: 5px;
}
.fab:hover{
    color: rgb(0, 106, 157)
}
.binary{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.binary> .cover{
    background-color: white;
    justify-content: center;
    align-items: center;
}
.binary > .text{
    justify-content: center;
    align-items: center;
}
.binary:hover .cover{
    opacity: 0;
    transition: 0.5;
    visibility: hidden;
}
.QA{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}
.QA > .cover{
    background-color: rgb(81, 201, 110);
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
}
.QA:hover > .cover{
    transform: rotate(0.5turn);
    opacity: 0;
    transition: 0.5s;
}
.JS{
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    
}
.JS > .cover{
    background-color: rgb(241, 203, 100) ;
    justify-content: right;
    align-items: flex-end;
    font-size: 100px;
    font-weight: 800;
    padding-right: 20px;
}
.JS:hover > .cover{
    transform: translate(100%, 0);
    transition: 0.5s;
    z-index: 0;
}
.Java{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    
}
.Java > .cover{
    background-color: rgb(204, 16, 66);
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}
.Java:hover > .cover{
    opacity: 0;
    transform: translate(0, -100%);
    transition: all 0.5s ;
}
.php{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
.php > .cover{
    width:100%;
    background-color: rgb(126, 134, 182);
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-style: italic;
}
.php:hover > .cover{
    transform: scale(0, 1) translate(200%, 0);
    transition: 0.5s;
}

.NET{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    
}
.NET > .cover{
    background-color: rgb(84, 18, 104);
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
}
.NET:hover > .cover{
    transform: scale(0, 0) translate(100%, 100%) rotate(3turn);
    transition: 0.5s;
}
#gridcont{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-template-columns: 100%;
    grid-template-rows: 40% 40% 20%;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    color: white;
    z-index: 2;
    display: grid;
}
#gridcont > div{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
#gridcont > div > .cover{
    display: flex;
    flex-basis: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.events{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}
.events > .cover{
    background-color: rgb(51, 146, 248);
}
.events:hover > .cover{
    transform: translate(-100%, -30%) rotate(-0.25turn);
    transition: 0.5s;
}
.blog{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.blog > .cover{
    background-color:rgb(9, 58, 148);
}
.blog:hover > .cover{
    transform: translate(100%, -30%) rotate(0.25turn);
    transition: 0.5s;
}
.contacts{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.contacts > .cover{
    background-color: rgb(5, 33, 83);
}
.contacts:hover > .cover{
    opacity: 0;
    font-size: 0;   
    transform: scale(1.5, 1.5);
    transition: 0.5s;
    visibility: hidden;
}
.contacts > .text{
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 950px) {
    .binary{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .QA{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .QA > .cover{
        font-size: 70px;
    }
    .JS{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 70px;
    }
    .JS > .cover{
        font-size: 70px;
    }
    .Java{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 30px;
    }
    .Java > .cover{
        font-size: 30px;
    }
    .php{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 60px;
    }
    .php > .cover{
        font-size: 60px;
    }
    .NET{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
        font-size: 70px;
    }
    .NET > .cover{
        font-size: 70px;
    }
    #gridcont {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 15px;
    }
    .grid-container{
        margin-left: 50px;
        margin-right: 50px;
        height: 70vw;
    }
    header{
        padding-left: 50px;
        padding-right: 50px;
    }
    .fab{
        font-size: 25px;
    }
    #dropmenu{
        right: 50px;
    }
  }

  @keyframes slideInFromUp {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
